        <div class="container">
            <div class="row row60">
                <div class="onekey-space marg-xs-b30 marg-lg-b75"></div>
                <div class="col-lg-3 col60">
                    <img class="img-responsive" src="/img/logo_f.png" height="80" width="247" alt="">
                </div>
                <div class="col-lg-5 col60">
                    <div class="onekey-space marg-xs-b30"></div>
                    <div class="onekey-simple-text">
                        <p>Если у вас есть вопросы или пожелания, напишите нам на office.procent@gmail.com</p>
                    </div>
                    <div class="onekey-space marg-xs-b30 marg-lg-b40"></div>
                </div>
                <div class="col-lg-4">
                    <div class="onekey-social">
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-vkontakte"></a>
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-odnoklassniki"></a>
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-facebook"></a>
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-twitter"></a>
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-google"></a>
                    </div>
                    <div class="onekey-social">
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-email"></a>
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-googlebookmark"></a>
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-yazakladki"></a>
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-print"></a>
                       <a href="http://moonart.net.ua/vovacut/Credit/v1/#" class="onekey-social-more"></a>
                    </div>
                    <div class="onekey-space marg-md-b30"></div>
                </div>
            </div>
            <div class="onekey-space marg-xs-b30 marg-lg-b50"></div>
            <div class="onekey-footer-copy">© Все права защищены. 2016 <a>«procent.com.ua»</a></div>
            <div class="onekey-space marg-xs-b30 marg-lg-b50"></div>
        </div>
