            <div class="onekey-block">
                <div class="onekey-simple-text">
                    <h4>Что такое микрокредит?</h4>
                    <p>В наше время возможность взять кредит онлайн перестала быть чем-то особенным. Ежемесячно в Украине появляются различные кредитные компании, готовые помочь людям в трудную минуту, предлагая получить онлайн кредит наличными на карту.</p>
                    <p>Но, к сожалению, чем больше компаний появляется, тем больше возникает вопросов – какая компания предоставит лучшие условия займа, где получить честные отзывы о кредитных компаниях и как не попасть впросак.</p>
                    <h4>Сервис сравнения онлайн займов</h4>
                    <p>На помощь приходит компания Procent. Наша команда состоит из аналитиков рынка микрокредитования, поэтому мы покажем Вам уникальную информацию о том, как проходит процесс кредитования в Украине и вместе с нами Вы пройдете путь от заполнения заявки на онлайн кредит на карту, до советов что делать, если Ваш долг был продан коллекторам. Также наш проект содержит актуальную информацию о микрокредитах, акциях, промокодах и специальных предложениях, поэтому при помощи Procent Вы владеете актуальной информацией где взять онлайн кредит выгодно.</p>
                    <p>Зачем мы это делаем? В основном, из личного энтузиазма. Финансовое воспитание в Украине находится не на лучшем уровне и многие люди попадают в большие проблемы там, где проблем можно избежать вовсе. Мы подготовим Вас ко всем неприятным моментам, которые могут возникнуть на Вашем кредитном пути, рассмотрим самые наболевшие вопросы: как работает пролонгация; что делать, если не можешь вернуть кредит; что делать, если Ваш кредит продали коллекторам; как увеличить шансы на получение кредита.</p>
                    <h4>Самые свежие предложения микрокредитов</h4>
                    <p>Не забудьте подписаться на нашу онлайн рассылку и Вы будете в курсе акций всех компаний на рынке микрокредитов Украины.</p>
                    <h4>Procent – Ваш помощник в мире онлайн кредитов.</h4>
                </div>
            </div>
            <div class="onekey-space marg-lg-b30"></div>
