{% if article.article|length > 0 %}
            <div class="onekey-block">
                <div class="onekey-simple-text">
                    {{article.article|raw}}
                </div>
            </div>
            <div class="onekey-space marg-lg-b30"></div>
{% endif %}