                    <!-- onekey-block -->
                    <div class="onekey-block no-border small ">
                        <form class="onekey-rating" action="/redirect" method="POST">
                            <div class="onekey-select">
                                <select name="type">
                                    <option value="kredit">Кредит</option>
                                    <option value="zajm">Займ</option>
                                    <option value="dengi">Деньги</option>
                                </select>
                                <div class="onekey-select-arrow">
                                    <div class="onekey-select-up"></div>
                                    <div class="onekey-select-down"></div>
                                </div>
                            </div>
                            <div class="onekey-hr"></div>
                            <h6 class="onekey-rating-label">Условия</h6>
                            <div class="onekey-radio-wrapper">
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="bez-spravok">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Без справок</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="cherez-internet">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Через интернет</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="do-zarplaty">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">До зарплаты</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="bez-poruchiteley">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Без поручителей</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="s-plohoi-ki">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">С плохой кредитной историей</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="bezrabotnym">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Безработным</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="bez-procentov">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Без процентов</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="bystryj">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Быстрый</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="bez-otkaza">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Без отказа</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="bez-oficialnogo-trudoustrojstva">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Без официального трудоустройства</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="s-18-let">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">С 18 лет</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="pensioneram">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Пенсионерам</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="nalichnymi">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">Наличными</span>
                                </label>
                                <label class="onekey-radio">
                                    <input class="checkbox-form" type="radio" name="conditions" value="na-karty">
                                    <span class="onekey-radio-check"><i class="fa fa-check"></i></span>
                                    <span class="onekey-radio-text">На карту</span>
                                </label>                          
                            </div>
                            <div class="onekey-hr"></div>
                            <div class="text-center">
                                <input class="onekey-btn color-2" type="submit" value="Сравнить">                                  
                            </div>
                        </form>
                    </div>
                    <div class="onekey-space marg-lg-b25"></div>

                    <div class="onekey-block no-border small ">
                        <form class="onekey-subscribe" method="POST" action="{{ path('addsubscriber') }}">
                            <img class="img-responsive center-block" src="/img/logo.png" height="82" width="250" alt="">
                            <div class="onekey-simple-text">
                                <p>Хотите получать&nbsp;кредит на самых выгодных условиях?</p>
                                <p>Подпишитесь на нашу рассылку с акциями от кредитных компаний</p>
                                <p>Наше правило - не более 1 письма в месяц.</p>
                            </div>
                            <div class="onekey-input">
                                <input type="text" name="user" placeholder="Ваше имя *" required="">
                                <div class="onekey-input-arrow">!</div>
                            </div>
                            <div class="onekey-input">
                                <input type="text" name="mail" placeholder="Ваш email *" required="">
                                <div class="onekey-input-arrow">!</div>
                            </div>
                            <div class="onekey-input">
                                <input type="text" name="tel" placeholder="Телефон (опционально)">
                                <div class="onekey-input-arrow">!</div>
                            </div>
                            <div class="onekey-hr"></div>
                            <div class="text-center">
                                <input class="onekey-btn color-2" type="submit" value="Подписаться">                                  
                            </div>                          
                            <input type="hidden" name="route" value="{{ app.request.getRequestUri() }}">                            
                        </form>
                    </div>
                    <div class="onekey-space marg-lg-b30"></div>                                       
