{% extends 'baseLayer.html.twig' %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div class="onekey-space marg-lg-b30"></div>  
                    <div class="onekey-block no-border">
                        <div class="onekey-simple-text">
                            <h5>Как работает сервис сравнения микрозаймов</h5>
                            <p>Сравни Займ – это абсолютно бесплатный сервис сравнения финансовых организаций, которые выдают онлайн кредиты.</p>
                            <p>На сегодняшний день такие услуги предоставляют десятки компаний, которые имеют те или иные преимущества. Как же выбрать лучшее предложение для себя?</p>
                            <h4 class="text-center">Воспользуйтесь сервисом "СравниЗайм"</h4>
                            <h4>1. Выберите параметры сравнения.</h4>
                            <p>На кредитном калькуляторе введите желаемые параметры для сравнения – сумму и срок кредита, который вас интересует.</p>
                            <h4>2. Сравните условия.</h4>
                            <p>Среди всех предложений наша система подберет для вас наилучшее – в расчете учитываются действующие процентные ставки и возможные бонусы.</p>
                            <h4>3. Оформляйте заявку.</h4>
                            <p>После определения лучшего предложения все, что Вам останется сделать для получения займа – оформить заявку на сайте выбранной Вами организации.</p>
                            <p>Для более детального изучения каждой организации микрокредитования, вы можете просмотреть анализ наших экспертов, которые разбирают данные, предоставленные каждой компанией на их сайте и сводят их для вас, подчеркивая только самое главное.</p>
                            <p>Мы проанализировали следующие компании онлайн кредитования:</p>
                            <ul>
                                {% for shop in shops %}
                                    <li><a href="{{shop.site}}">{{shop.company}}</a></li>
                                {% endfor %}
                            </ul>
                            <p>Пользоваться нашим сервисом просто и удобно! И все же, если у Вас возникли вопросы, напишите нам на адрес электронной почты – <a href="mailto:office.procent@gmail.com">office.procent@gmail.com</a>.</p>                   
                        </div>
                        <div class="onekey-space marg-lg-b30"></div>
                        <p class="text-center">
                            <a class="onekey-btn" href="{{ path('index') }}">Выбрать предложение.</a>
                        </p>                            
                    </div>
                    <div class="onekey-space marg-lg-b30"></div>   
                </div>
                <div class="col-md-3 col-md-pull-9">
                    <div class="onekey-space marg-lg-b30"></div>  
                    {% include 'blocks/sidebar.html.twig'%}                         
                </div>
            </div>
            <div class="onekey-space marg-lg-b30"></div>
        </div>
{% endblock %}
