                    <h4 class="onekey-list-title"><span>{%trans%}Customer Service Comments{%endtrans%} "{{ shop.company }}"</span></h4>
                    <div class="onekey-space marg-lg-b30"></div>
                    {% set break = false %} 
                    {% for comment in shop.comments if (not break) and ((comment.moderate) or (comment.mail == app.request.cookies.get('mail'))) %}
                    {% if loop.index == commentsperpage %} {% set break = true %} {% endif %}
                    <!-- onekey-comment  -->
                    <div class="onekey-block no-border small">
                        <div class="onekey-comment clearfix">
                            <div class="onekey-comment-name"><span>{{ comment.user }}</span> {%trans%}write{%endtrans%}:</div>
                            <div class="onekey-comment-date">{{ comment.publdate|date("d/m/y H:i") }}</div>
                                {% if comment.moderate == 0 %}
                                    <em style="color:red !important">{%trans%}Your comment is awaiting moderation{%endtrans%}</em>
                                {% endif %}    
                            <div class="onekey-simple-text">
                                <p>{{ comment.msg }}</p>
                            </div>
                            <div class="onekey-simple-star">
                                <span>{%trans%}Rank{%endtrans%}:</span>
                                {% for star in 1..5 %} 
                                    {% if star <= comment.rank %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% else %}   
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="onekey-space marg-lg-b60"></div>
                    {% endfor %}
